body {
	font: .9em helvetica, ariel, sans-serif;
	background-color: #fff;
	color: #000;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.25em;
}


#footer {
	font-size: .9em;
	width: 100%;
	border-top: 1px solid #000;
	padding-top: 3px;
}

ul.examples {
	list-style-type: none;
	padding: 0;
}

#validationLinks {
	padding: 0;
	margin: 0;
}
#validationLinks li {
	list-style-type: none;
	display: inline;
	padding-left: 0;
	padding-right: 20px;
}